.header {
    position: sticky;
    top: -120rem;
    left: 0;
    right: 0;
    height: 120rem;
    background: #fff;
    opacity: 0;
}

.header.on {
    top: 0;
    opacity: 1;
}

.main_vi {
    height: 700rem;
    background: url(../images/main_vi_loding.JPG);
}

.footer {
    background: #333;
    padding: 0 0 50rem 0;
}

.footer .f_top {
    background: #222;
    overflow: hidden;
}

.footer .f_top_wrap {
    display: flex;
    align-items: center;
    height: 60rem;
}

.footer .f_top_wrap img {
    width: 70%;
    filter: brightness(90%);
}

.footer .f_top_wrap .right {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.footer .family_site {
    display: flex;
    gap: 30rem;
}

.footer .family_site>* {
    display: flex;
    gap: 10rem;
    align-items: center;
    cursor: pointer;
}

.footer .family_site button {
    color: #ddd;
}

.footer .family_site .dep button {
}
.footer .family_site .dep span {}
.footer .family_site .coll {}




.footer .f_top_wrap .to_top {
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 6rem 22rem 14rem;
    text-align: center;
    cursor: pointer;
}

.footer .f_top_wrap .to_top strong {
    font-weight: 500;
}

.footer .f_bott {}

.footer .f_bott .f_nav {
    display: flex;
    justify-content: space-between;
    gap: 35rem;
    border-bottom: 1px solid #444;
    margin: 0 0 24rem 0;
}

.footer .f_bott .f_nav li a {
    line-height: 60rem;
}

.footer .f_bott {}